BasedOnStyle: Microsoft
Language: Cpp
Standard: c++03
IndentWidth: 4
ColumnLimit: 90
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: DontAlign
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
AccessModifierOffset: -4
PointerAlignment: Left
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: false
UseTab: Never
